../../.bash_history
	../../.bash_logout
	../../.bashrc
	../../.cache/
	../../.config/
	../../.gitconfig
	../../.gnupg/
	../../.java/
	../../.local/
	../../.mozilla/
	../../.nv/
	../../.profile
	../../.sudo_as_admin_successful
	../pythonProject/
	../pythonProject1/
	../../snap/
	"../../\320\224\320\276\320\272\321\203\320\274\320\265\320\275\321\202\321\213/"
	"../../\320\227\320\260\320\263\321\200\321\203\320\267\320\272\320\270/"
